[submodule "Submodule/goagent"]
	path = Submodule/goagent
	url = https://github.com/goagent/goagent.git
[submodule "Submodule/myvim"]
	path = Submodule/myvim
	url = https://github.com/Geek-Chic/main.git
